.setting-language{
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.language-cn,.language-en{
    cursor: pointer;
    padding:6px;
    color: rgba(0, 0, 0, 0.6);
}


.product-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:86px;
}
.product-swiper{
    width: 40%;
}

.product-instructions{
    padding-left: 20px;
    width: 40%;

}
.navbar{
    display: none;
}

@media (max-width: 768px) {
    .product-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .product-swiper{
        width: 90%;
    }
    
    .product-instructions{
        padding-left: 0;
        width: 90%;
    
    }
}

/* header 响应式 */
@media (max-width: 767px) {
    .web_menu{
        display: none;
    }
    .navbar{        
        width: 100%;
        display: block;
    }
    .navbar-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo_lyne{
        margin: 0; 
        height: auto;
    }
    .navbar-nav>li{
        height: 36px;
        line-height: 36px;
        
    }
    .navbar-nav>li:hover{
        padding: 0 16px;
        background-color: #ccc;
    }
    .setting-language{
        padding: 0;
        justify-content: flex-end;
    }
    
}
