


.product-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:86px;
}
.product-swiper{
    width: 40%;
}

.product-instructions{
    padding-left: 20px;
    width: 40%;

}

@media (max-width: 768px) {
    .product-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .product-swiper{
        width: 90%;
    }
    
    .product-instructions{
        padding-left: 20px;
        width: 90%;
    
    }
}